[Unit]
Description=Sensor Reader C Program
After=network.target network-online.target

[Service]
ExecStart=/opt/Proxmox-Agent/Agent_For_Server/proxmox_agent
EnvironmentFile=/opt/Proxmox-Agent/Agent_For_Server/.env
WorkingDirectory=/opt/Proxmox-Agent/Agent_For_Server

# Uncomment the lines below if needed
#User=root
#Group=root

StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target