[Unit]
Description=Sensor Reader C Program
After=network.target network-online.target

[Service]
ExecStart=/opt/Tank-Agent/tank_agent
EnvironmentFile=/opt/Tank-Agent/.env
WorkingDirectory=/opt/Tank-Agent/

# Uncomment the lines below if needed
#User=root
#Group=root

StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target