[Unit]
Description=Run Sensor Every 5 Minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=30s
Unit=tank_agent.service

[Install]
WantedBy=timers.target